body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8f9fa;
  padding-top: 70px;
}

.text-danger {
  color: red !important;
}

h4 {
  color: #0d6efd;
  font-weight: 600;
}

#statusMessage {
  font-weight: 500;
}

/* Footer icons spacing */
.footer i {
  margin-right: 5px;
}
